{% include "header.html" %}
    <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/steins.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Backend Developer</h1>
            <span class="subheading">Amateur software developer with a hunger for learning.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">

    <div class="section">
      <div class="col-lg-8 col-md-10 mx-auto content">
          <h2>Greetings. I'm Axel, thank you for visiting.</h2>
          <p class="intro">I am a Techinician in Software Development.</p>
      </div>
    </div>

  </div>

  <div class="section-with-bg">

    <div class="section">
      <div class="col-lg-8 col-md-10 mx-auto content">
          <h2>A little about me.</h2>
          <p>Software Development Technician with experience developing web applications utilizing PHP and
              JavaScript, and developing mobile applications with Android Studio and React Native.
          </p>
          <p>
            Nowadays I specialize and focus mostly on Python Development.
          </p>
      </div>
    </div>

  </div>

  <div class="container-fluid" id="mySkills">

      <div class="section">
        <div class="col-lg-8 col-md-10 mx-auto content">
            <h2>My Skills.</h2>
        </div>

        <div class="skills row">
          <div class="col-lg-4 col-md-6">

            <div class="card">
              <div class="card-header">
                <b>Programming Languages</b>
                <br>
                <i class="fab fa-python fa-3x"></i>
              </div>
              <div class="card-body p-lang">
                <ul>
                  <li>Python</li>
                  <li>Java</li>
                  <li>JavaScript</li>
                  <li>Php</li>
                </ul>
              </div>
            </div>

          </div>

          <div class="col-lg-4 col-md-6">

            <div class="card">
              <div class="card-header">
                <b>Data</b>
                <br>
                <i class="fas fa-database fa-3x"></i>
              </div>
              <div class="card-body p-lang">
                <ul>
                  <li>MySQL</li>
                  <li>MongoDB</li>
                  <li>Firestore</li>
                  <li>SQLite</li>
                </ul>
              </div>
            </div>

          </div>

          <div class="col-lg-4 col-md-12">

            <div class="card">
              <div class="card-header">
                <b>Languages</b>
                <br>
                <i class="fas fa-language fa-3x"></i>
              </div>
              <div class="card-body p-lang">
                <ul>
                  <li>Spanish</li>
                  <li>English</li>
                  <li>Basic French</li>
                  <li>Non spoken Japanese</li>
                </ul>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>

<div class="section-with-bg" id="myWorks">

    <div class="section">
      <div class="col-lg-8 col-md-10 mx-auto content">
          <h2>My Works.</h2>
          <h3>Work in progress...</h3>
        <p>Nothing to see yet, my works will go here as soon as I have something to show :)</p>
      </div>
    </div>

  </div>

  <hr>
{% include "footer.html" %}